<p id="notice"><%= notice %></p>

<p>
  <strong>Amount in cents:</strong>
  <%= @charge.amount_in_cents %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
